h1{
    font-family: Arial, sans-serif;
    font-style: italic;
}  
p{
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    color: #333;
}
.lorem{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color: #555;
    text-overflow: clip;
    border: red solid 3px;
    width: 45px;
    overflow: hidden;
}