/* .box{
    height:50px;
    width:50px;
    background-color: beige;
    border:2px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
    transform: translateX(40%) translateY(40%) skewX(20deg) skewY(20deg);
}
.container{
    width:100vw;
    height:80vh;
    border: 2px solid  purple;
} */