*{
    margin: 0;
    padding: 0;
}
:root{
    --color: blue;
    --seccolor: navy;
}
.nav{
    --color:blue;
    background-color: var(--color);
}
.container{
    background-color: var(--seccolor);
    color: aliceblue;
    padding: 30px;
}
ul{
    display:flex;
    color: aliceblue;
}
ul li{
    list-style: none;
    padding: 34px;
}
.bod{
    --color:purple;
    background-color: var(--color);
}