.box::first-line{
    color:yellow;
}
.box:first-child{
    background-color: red;
}
.boxes, .boxes{
    color: blue;
}
[data-color="primary"]{
    margin: 45px;
}
.box:nth-child(even){
    border: 2px solid black;
}
.boxes::before{
    content:"Hey I know this trick too";
}