<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template is working</title>
</head>
<body>
    This is the index page for the textutils app.
    <br>
    <a href="/about">About</a><br>  
    <a href="/remove-punc">Remove Punctuation</a><br>
    <a href="/capitalize">Capitalize</a><br>    
    <a href="/space-remover">Space Remover</a><br>
    <a href="/char-count">Character Count</a><br>
    <a href="/line-remover">Line Remover</a><br>
    <br>
    <a href="/">Go back to index</a>
    <br>
    <p> this website is managed by {{ name }} from {{ place }}</p>
</body>
</html>