.class1 {
    color: red;
}

.class2 {
    color: green;
}

.class3 {
    color: blue;
}
#id1 {
    color: purple;
}
p{
    color: green;
}
*{
    color: yellow;
    background-color: lightgray;
}
#id3 {
    color: darkcyan;
}
#id2 {
    color: darkorange;
}
h1 {
    color: black;
}