body{
  color:white;
  background-color:black;
  font-family: Arial, sans-serif;
  text-align: center;
}

#about{
  margin: 20px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
   animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  .slide-fwd-center {
	animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
}

a{
  color: black;
  text-decoration: none;
}

nav ul{
  display:flex;
  /* flex-direction: row; */
  justify-content: space-evenly;
  background-color: lightgrey;
  padding: 12px;
  list-style-type: none;
}
.project{
  border: 2px solid white;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  .slide-fwd-center {
	animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
}
h1{
  margin: 20px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  .slide-fwd-center {
  animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
}
#contact{
  margin: 20px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
   animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  .slide-fwd-center {
  animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
}
form label{
  margin: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.slide-left {
	animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    transform: translateX(-8px) translateY(8px);
  }
}

@keyframes slide-fwd-center {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translateZ(160px);
  }
}