body{
  color:white;
  background-color:black;
  font-family: Arial, sans-serif;
  text-align: center;
}

nav ul{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: lightgrey;
  padding: 10px;
  list-style-type: none;
}
.project{
  border: 2px solid white;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}
form{
  margin: 20px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
}
form div{
  display: flex;
  
}
.slide-left {
	animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}