.container {
    border: 2px solid red;
    display: grid;
    grid-template-columns: [y1]120px [y2]100px;
    grid-template-rows: [x1]100px [x2]120px;
    /*other things similar to withiin cell as flexbox for item and for whole grid when grid <<<container as content*/
}

.item {
    border: 2px solid black;
    height: 55px;
    width: 55px;
}